p,
body,
div {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style: none;
}

div {
    box-sizing: border-box;
}

.main-bg {
    background: url('../public/bg.png');
    height: 300px;
    background-size: cover;
    background-position: center;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    color: black;
    display: flex;
    gap: 2em;
}
